<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781476714251-o6uleod8nvipca3irffa5p55s4gbhr0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781476714251-o6uleod8nvipca3irffa5p55s4gbhr0e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>781476714251-71o4ofh06l9a76k9pfm33p0rcff56ob7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAwevtgdGRp9WwrpgzYzPfnooJrDIaCp1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>781476714251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.miaged</string>
	<key>PROJECT_ID</key>
	<string>miaged-68537</string>
	<key>STORAGE_BUCKET</key>
	<string>miaged-68537.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781476714251:ios:120f030cca2d862f34b40e</string>
</dict>
</plist>